<!DOCTYPE html>
<html lang="kr">
<head>
	{{> /include/header }}
</head>
<body>

{{> /include/navigation }}
<div class="container" id="main">
	<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
		<div class="panel panel-default qna-list">
			<ul class="list">
			</ul>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center">
					<ul class="pagination center-block" style="display:inline-block;">

					</ul>
				</div>
				<div class="col-md-3 qna-write">
					<a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- script references -->
{{> /include/footer}}

<script type="text/template" id="questionList">
	<li>
		<div class="wrap">
			<div class="main">
				<strong class="subject">
					<a href="/questions/{0}">{1}</a>
				</strong>
				<div class="auth-info">
					<i class="icon-add-comment"></i>
					<span class="time">{2}</span>
					<a href="/user/{3}/form" class="author">{4}</a>
				</div>
				<div class="reply" title="댓글">
					<i class="icon-reply"></i>
					<span class="point">{5}</span>
				</div>
			</div>
		</div>
	</li>
</script>

<script type="text/template" id="pageNaviTemplate">
	<li><a href='javascript:void(0);' >{1}</a></li>
</script>
<script type="text/template" id="pageNaviCurTemplate">
	<li><a href='javascript:void(0);'><b>{1}</b></a></li>
</script>

<script type="text/javascript">

	//페이징 관련
	var page = {

		naviCnt : 5,  //페이지네이션 5
		curPage : 1,    //현재페이지
		strPage : 0,
		endPage : 0,
		pageSize : 5,   // 한화면에 보여줄 게시글 갯수
		direction : 'DESC'  //sort
	};

	$(document).ready(function () {
		searchQuestion();

		$(".pagination").on("click", "li", pageNoFnc);
	});


	var pageNoFnc = function () {
		var pageNo = $(this).text();

		if (pageNo === "<<")
			page.curPage--;
		else if (pageNo ===  ">>")
			page.curPage++;
		else
			page.curPage =  pageNo;

		searchQuestion();

	};


	// 답변등록
	function searchQuestion() {

		// var queryString = $(".ans-write").serialize();
		// var params = $(".ans-write").serializeObject();
		var url = "/api/question";


		$.ajax({
			type: 'get',
			url: url,
			// data: queryString,
			contentType : 'application/json',
			data: pageParam(),
			dataType: 'json',
			error: function (request, status, error) {
				// console.error(request, status, error);
				console.log(request.responseJSON);

				alert(request.responseJSON.message);

			},
			success: function (data) {

				questionTemplate(data.content);

				page.strPage = parseInt((page.curPage - 1) / page.naviCnt) * page.naviCnt + 1;
				page.endPage = page.strPage + page.naviCnt - 1;

				if(page.endPage > data.totalPages)
					page.endPage = data.totalPages;

				var pagination = "";

				if(!data.first){
					pagination = $("#pageNaviTemplate").html().format(0, "<<");
				}

				for(var i = page.strPage; i <= page.endPage; i++){

					if(i == page.curPage)
						pagination  += $("#pageNaviCurTemplate").html().format(i, i);
					else
						pagination  += $("#pageNaviTemplate").html().format(i, i);
				}

				if(!data.last){
					pagination += $("#pageNaviTemplate").html().format(9999, ">>");
				}


				$(".pagination").html("").append(pagination);

			}

		});
	}

	function questionTemplate(data) {

		var templateRs = "";

		$.each(data, function (index, item) {
			templateRs += $("#questionList").html().format(item.id, item.title, item.createDate, item.writer.id, item.writer.userId, item.answers.length);
		});

		$(".list").html("").append(templateRs);
	}

	function pageParam() {
		var pageParam = {
			size : page.pageSize,
			page : page.curPage,
			direction : page.direction
		};

		return pageParam;
	}

	function pagenation() {

	}

</script>
</body>
</html>
